<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header [navigationitems]="sideNavigationdata"></app-header>
    <div class="container d-flex justify-content-center mt-5 mb-5">
      <div class="card">
        <div class="card-header text-center h4">Meeting Shedule</div>
        <div class="card-body d-block">
          <form [formGroup]="schduleForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="Meeting" class="form-label">Meeting title </label>
              <input id="Meeting" type="text" class="form-control" formControlName="meetingTitle"/>
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label">Description: </label>
              <input id="Description" type="text" class="form-control" formControlName="description"/>
            </div>
            <div class="mb-3">
              <label for="Physician" class="form-label">Physician: </label>
              <input id="Physician" type="text" class="form-control" formControlName="physician"/>
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">date: </label>

              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="date"
                    placeholder="yyyy-mm-dd"
                    name="date"
                    id="date"
                    formControlName="date"
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Time: </label>
              <input id="Time" type="text" class="form-control" formControlName="time" />
            </div>
            <div class="mb-3">
              <label for="Reason" class="form-label">Reason: </label>
              <input
                id="Reason"
                type="text"
                class="form-control"
                name="Reason"
                formControlName="reason"
              />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-success">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
