
form{
    margin-left: 25%;
    margin-right:25%;
    width: 70%;
}
mat-form-field{
    width: 50%;
  }
  h1{
    margin-left: 5%;
    margin-right:54%;
    margin-top: 3%;
    text-size-adjust: 24;
    background-color: darkgray;
  }