<app-header [navigationitems]="userSideNavigationdata"></app-header>

<div>
  <h1>Add Appointment Schedule</h1>
</div>
<form [formGroup]="form" (ngSubmit)="save()">
  <div class="add">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Physician Name</mat-label>
        <mat-select formControlName="employee" (selectionChange)="showPhysicianId($event.value)">
          <mat-option
            *ngFor="let data of listOfPhysician"
            [value]="data"
            >{{ data.firstName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Physician Id</mat-label>
        <input matInput value={{physicianId}}/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="todayDate"
      placeholder="Choose a date" (dateInput)="appointmentDateSelectEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Appointment Time Slot</mat-label>
        <mat-select formControlName="time"
        ><mat-option *ngFor="let data of listOfTimeSlot" [value]="data">{{
            data
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <div>
        <h2>Patient Description</h2>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Patient Id</mat-label>
            <mat-select (selectionChange)="showPatientName($event.value)" formControlName="patient"
            >
              <!-- <span
                class="option-danger"
                *ngIf="
                  (registerFormControl.patientId.touched || submitted) &&
                  registerFormControl.patientId.errors?.required
                "
              >
                “Last name cannot be empty.”
              </span> -->
              <mat-option
                *ngFor="let data of listOfPatient"
                [value]="data"
                >{{ data.patientId }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Patient Name</mat-label>
            <input matInput value={{patientName}}/>
              <!-- <span
                class="text-danger"
                *ngIf="
                  (registerFormControl.patientName.touched || submitted) &&
                  registerFormControl.patientName.errors?.required
                "
              >
                “Last name cannot be empty.”
              </span> -->
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Descriptive Info</mat-label>
              <textarea matInput formControlName="description"></textarea>
            
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" [disabled]="false">Save</button>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
