<app-header [navigationitems]="userSideNavigationdata"></app-header>

<div>
<div style="display:flex; flex-direction: row;">
<mat-card class="ph-card">
    <mat-card-title-group>
        <mat-card-title>Hi Mukesh Singh,</mat-card-title>
        <mat-card-subtitle>The practice of medicine is an art, not a trade; a calling, not a business; a calling in which your heart will be exercised equally with your head. Often the best part of your work will have nothing to do with potions and powders, but with the exercise of an influence of the strong upon the weak, of the righteous upon the wicked, of the wise upon the foolish.</mat-card-subtitle>
        <img mat-card-md-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFw7whz6NPdSiKm1vNSli0q_nZORBXChwDog&usqp=CAU" >
      </mat-card-title-group>
</mat-card>
<mat-card class="ua-card">
    <mat-card-title-group>
        <mat-card-title>Total Appointment</mat-card-title>
        <mat-card-subtitle><h1 style="font-size: 340%; margin-top: 20%;">1992</h1></mat-card-subtitle>
      </mat-card-title-group>
  </mat-card>
  <mat-card class="ca-card">
      <mat-card-title-group>
          <mat-card-title>Todays Appointment</mat-card-title>
          <mat-card-subtitle><h1 style="font-size: 340%; margin-top: 20%;">92</h1></mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>
</div>
<div style="display:flex; flex-direction: row;">
    <mat-card class="chart-card">
        <mat-card-title-group>
            <canvas baseChart
                [datasets]="chart_Data"
                [labels]="chart_Labels"
                [options]="chart_Options"
                [plugins]="chart_Plugins"
                [legend]="chart_Legend"
                [chartType]="chart_Type">
        </canvas>
          </mat-card-title-group>
    </mat-card>
    
</div>
</div>

  <app-footer></app-footer>

