table{
    width: 100%;
    text-align: left;
    margin-top: 2cm;
}
.check{
    position: fixed ; right: 0;
    padding-top: 2%;
}
.notes {
    margin: auto;
    width: 50%;
    padding: 30px;
    padding-top: 6%;
  }



.save {
    background: green;
    color: white;
    margin-top: 2%;
  }
  
  mat-form-field{
      width: 110%;
  }
 .radiobutton {
    margin-left: 16px;
  }